node_modules
npm-debug.log
yarn-error.log

vendor
.env
.env.*.local

storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*

public/storage
public/hot
public/mix-manifest.json
public/js/*.map
public/css/*.map

.DS_Store
Thumbs.db
.idea
.vscode