/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/_tmp/
/public/js/
package-lock.json
public/css/
public/mix-manifest.json
client_secret_583777094252-e5ug059a13amsvf93obu5iv18fna4rjs.apps.googleusercontent.com.json
mix-manifest.json
/_sh/
/docker/dbdata
/bootstrap/cache
/smiling-spider-365110-b9a3fd585596.json
/.vs
client_secret_*
/storage/debugbar/
